<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/public/css/default-layout.min.css"/>
<body>
    <%- include('../partials/nav') %>
    <%- include('../partials/alerts') %>
    
    <main class="container">
        <input type="hidden" id="tid" value="<%= id %>">

        <section>
            <a href="/admin/view-templates" class="mb-3 d-block">Go Back</a>
            <h1 class="mb-4">Template</h1>
            <div class="pb-5" id="CreateComponent"></div>
        </section>
    </main>

    <%- include('../partials/scripts') %>
</body>
</html>