<div class="toggle-menu">
    <span class="material-icons-outlined">menu</span>
</div>
<div class="filler"></div>

<%
    const links = [
        { href: '/', icon: 'home', text: 'Home' },
        { href: '/checkout', icon: 'shopping_cart', text: 'Checkout' },
        { href: '/pick-tag', icon: 'build', text: 'Build A Website' },
        { href: '/pick-domain', icon: 'domain', text: 'Pick A Domain' },
        { href: '/pick-template', icon: 'subtitles', text: 'Pick A Template' },
        { href: '#', icon: 'branding_watermark', text: 'Build A Logo' },
    ];
    
%>

<div class="sidenav d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
    <a href="/" class="d-flex align-items-center mt-3 mb-md-0 me-md-auto text-white text-decoration-none logo">
        <span>Marina Media</span>
    </a>

    <hr>

    <ul class="nav nav-pills flex-column mb-auto">
        <% links.forEach(link => { %>
        <li class="nav-item ">
            <a class="nav-link text-white<% if(link.href === originalUrl) { %> active <% } %>" href="<%= link.href %>">
                <span class="material-icons-outlined"><%= link.icon %></span>
                <span><%= link.text %></span>
            </a>
        </li>
        <% }) %>
    
        <% if(user && user.admin) { %> 
            <hr>
            <%- include('./admin-nav') %> 
        <% } %>
    </ul>

    <hr>

    <%- include('./dropdown') %>
</div>

