<table>
    <thead>
        <tr>
            <th>Template</th>
            <th>Domain</th>
            <th>Created</th>
            <th>Price</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        <% orders.forEach(order => { %>
            <tr onclick="window.location.href  = '/users/order/<%= order._id %>'">
                <td><%= order.inv.temp.title %></td>
                <td><%= order.inv.dom.split('.')[0] %><span class="domain-ext">.<%= order.inv.dom.split('.')[1] %></span></td>
                <td><%= order.createdAt.toLocaleString() %></td>
                <td><span class="text-uppercase"><%= order.currency %></span> <%= order.amount / 100 %></td>
                <td><%= order.completed %></td>
            </tr>
        <% }) %>
    </tbody>
</table>