<table>
    <thead>
        <tr>
            <th>Created</th>
            <th>Price</th>
            <th>Payment Status</th>
            <th>Order Status</th>
        </tr>
    </thead>
    <tbody>
        <% orders.forEach(order => { %>
            <tr data-id="<%= order._id %>" onclick="window.location.href='/users/order/<%= order._id %>'">
                <td><%= order.createdAt %></td>
                <td><span class="text-uppercase"><%= order.currency %></span> <%= order.amount / 100 %></td>
                <td><%= order.status %></td>
                <td><%= order.completed ? 'completed' : 'in progress' %></td>
            </tr>
        <% }) %>
    </tbody>
</table>