<ul>
    <% orders.forEach(order => { %>
       <li>
            <a href="/users/order/<%= order._id %>">
                <div class="icon">
                    <% if(order.completed) { %>
                        <span class="material-icons-outlined done">done</span>
                    <% } else { %>
                        <span class="material-icons-outlined hourglass">hourglass_empty</span>
                    <% } %>
                </div>
                <div class="meta">
                    <p><%= order.inv.temp.title %></p>
                    <p><%= order.inv.dom.split('.')[0] %><span>.<%= order.inv.dom.split('.')[1] %></span></p>
                    <p><%= order.createdAt.toLocaleString() %></p>
                    <p>$<%= order.amount / 100 %></p>
                </div>
            </a>
       </li>
    <% }) %>
</ul>