<% 
    function splitDomain(domain) {
        return domain.split('.');
    }

    function getPrice(template, domain) {
        if(template === null && domain === null) return 0;
        if(template === null && domain !== null) return template.price;
        if(domain === null && template !== null) return domain.price;

        return template.price + domain.price;
    }
%>

<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/public/css/default-layout.min.css" />
<link rel="stylesheet" href="/public/css/checkout.min.css" />

<body>
    <%- include('../partials/nav') %>

    <main class="container">
        <a href="/pick-domain" class="go-back">Go Back</a>
        <section>
            <h1>Checkout</h1>

            <div class="missing-data">
                <% if(tag === null) { %>
                    <a href="/pick-tag">Pick a tag for your website</a>
                <% } %>

                <% if(template === null) { %>
                    <a href="/pick-template">Pick a template for your website</a>
                <% } %>

                <% if(domain === null) { %>
                    <a href="/pick-domain">Pick a domain for your website</a>
                <% } %>
            </div>

            <div class="inventory">
                <form method="POST" action="/checkout">
                    <section>
                        <ul>
                            <% if(template !== null) { %>
                                <li>
                                    <h3><%= template.title %></h3>
                                    <p>$<%= template.price %></p>
                                </li>
                            <% } %> 

                            <% if(domain !== null) { %>
                                <li>
                                    <h3>
                                        <%= splitDomain(domain.domain)[0] %><span>.<%= splitDomain(domain.domain)[1] %></span>    
                                    </h3>
                                    <p>$<%= domain.price %></p>
                                </li>
                            <% } %>
                        </ul>
                    </section>

                    <% if(template !== null && domain !== null) { %>
                        <div class="form-footer">
                            <p>Total Cost: $<%= getPrice(template, domain) %></p>
                            <% if(!user) { %>
                                <div id="ModalComponent"></div>
                            <% } else { %>
                              <div>
                                <!-- <button type="button" class="checkout-mobile-money">Mobile Money</button> -->
                                <button type="submit">Continue To Checkout</button>
                              </div>
                            <% } %>
                        </div>
                    <% } %>
                </form>
            </div>
        </section>
    </main>
    <%- include('../partials/scripts') %>
    <script src="/public/js/checkout-mobile-money.js"></script>
</body>
</html>