<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/public/css/default-layout.min.css" />
<style>
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {    
        padding: 2rem;
        margin: 1rem 0;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: .5rem;
    }

    h3, p {
        margin: 0;
    }

</style>
<body>
    <%- include('../partials/nav') %>

    <main class="container">
        <section>
            <h1>Your purchase was successful!</h1>

            <ul>
                <li>
                    <h3>Template</h3>
                    <p><%= template.title %></p>
                </li>
                <li>
                    <h3>Domain</h3>
                    <p><%= domain.domain %></p> 
                </li>
                <li>
                    <h3>Total Cost</h3>
                    <p>$<%= domain.price + template.price %></p>
                </li>
            </ul>
        </section>
    </main>

    <%- include('../partials/scripts') %>
</body>
</html>