<div class="d-flex flex-column">
    <section class="col-md-12 flex-grow-1 h-100 w-100 d-flex flex-column">
        <header class="d-flex justify-content-end align-items-center mb-3">
            <div id="CurrComponent"></div>
        </header>
    
        <% if(cart.length > 0) { %>
        <div class="inventory">
            <form method="POST" action="/checkout">
                <section class="mt-4">
                    <ul class="list-group cart">
                        <% cart.forEach((item, i) => { %>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a class="remove-item" href="/remove/<%= i %>"><span class="material-icons-outlined skiptranslate">delete</span></a>
                                <a class="text-decoration-none" href="<%= item.linkTo %>"><%= item.title %></a>
                                <span><%= currency.code %> <%= Math.round(item.price) %></span>
                            </li>
                        <% }) %>
                    </ul>
                </section>
    
                <div class="form-footer d-flex justify-content-between mt-5">
                    <p>Total Cost: <%= currency.code %> <%= cost %></p>
                    <% if(!user) { %>
                    <div id="ModalComponent"></div>
                    <% } else { %>
                    <div>
                        <button class="btn btn-primary" type="submit">Continue To Checkout</button>
                    </div>
                    <% } %>
                </div>
            </form>
        </div>
        <% } else { %>
        <div class="d-flex flex-column justify-content-center align-items-center mt-5">
            <p class="display-6">Your cart is empty</p>
            <div class="d-flex mt-3">
                <a class="btn btn-primary me-2" href="/pick-tag">Build a website</a>
                <a class="btn btn-secondary ms-2" href="/pick-domain">Find A Domain</a>
            </div>
        </div>
        <% } %>
    </section> 
    
    
    <hr class="featured-hr">
    
    <div class="container px-4 mt-5" id="featured-3">
        <div class="row g-4 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon bg-primary bg-gradient">
                    <span class="material-icons-outlined skiptranslate">shield</span>
                </div>
                <h2>Security</h2>
                <p>
                    Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
                    probably just keep going until we run out of words.
                </p>
            </div>
            <div class="feature col">
                <div class="feature-icon bg-primary bg-gradient">
                    <span class="material-icons-outlined skiptranslate">speed</span>
                </div>
                <h2>Speed</h2>
                <p>
                    Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
                    probably just keep going until we run out of words.
                </p>
            </div>
            <div class="feature col">
                <div class="feature-icon bg-primary bg-gradient">
                    <span class="material-icons-outlined skiptranslate">groups</span>
                </div>
                <h2>Customer Oriented</h2>
                <p>
                    Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
                    probably just keep going until we run out of words.
                </p>
            </div>
        </div>
    </div>
</div>