<div class="d-flex justify-content-end mb-5">
    <div id="CurrComponent"></div>
</div>

<div class="d-flex flex-column">
    <div class="row bg-light p-4 rounded">
        <div class="col-md-7">
            <div class="bg-white p-4 shadow-sm rounded">
                <h2 class="mb-3">Cart (<%= cart.length %> item)</h2>
                <% if(cart.length > 0) { %>
                <ul class="list-group cart">
                    <% cart.forEach((item, i) => { %>
                    <li class="list-group-item d-flex">
                        <a href="<%= item.linkTo %>" class="me-3" style="width:100px;height:100px;">
                            <img class="w-100 h-100 rounded-3" src="<%= item.images[0] %>" alt="" style="object-fit: contain;"/>
                        </a>
                        <div class="d-flex flex-column justify-content-between w-100">
                            <div class="d-flex flex-column">
                                <a class="text-decoration-none" href="<%= item.linkTo %>"><%= item.title %></a>
                                <span><%= currency.code %> <%= Math.round(item.price) %></span>
                                <span><%= item.type %></span>
                            </div>

                            <% if(item.type !== 'hosting') { %>
                            <a class="text-muted d-flex align-items-center text-decoration-none" href="/remove/<%= i %>">
                                <span>Remove</span>
                                <span class="material-icons-outlined skiptranslate ms-1" style="font-size: inherit;">delete</span>
                            </a>
                            <% } %>
                        </div>
                    </li>
                    <% }) %>
                </ul>
                <% } %>
            </div>
            <div class="bg-white p-4 mt-4 shadow-sm rounded">
                <h2>We Accept</h2>
                <div class="d-flex">
                    <img src="/public/img/payment_methods/american-express.png" alt="American Express" />
                    <img src="/public/img/payment_methods/discover.png" alt="Discover" />
                    <img src="/public/img/payment_methods/mastercard.png" alt="Mastercard" />
                    <img src="/public/img/payment_methods/visa.png" alt="Visa" />
                </div>
            </div>  
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-4 bg-white p-4 shadow-sm rounded d-flex flex-column justify-content-between">
            <ul class="list-group mb-3">
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <span>Total Cost:</span>
                    <span><%= currency.code %> <%= cost %></span>
                </div>
            </ul>
            <% if(!user) { %>
            <div id="ModalComponent"></div>
            <% } else { %>
            <form class="w-100" method="POST" action="/checkout/stripe">
                <button class="btn btn-primary w-100" type="submit">Continue To Checkout</button>
            </form>
            <% } %>
        </div>
    </div>

    <hr class="featured-hr">

    <div class="container px-4 mt-5" id="featured-3">
        <div class="row g-4 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon bg-primary bg-gradient">
                    <span class="material-icons-outlined skiptranslate">shield</span>
                </div>
                <h2>Security</h2>
                <p>
                    Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                    sentence and
                    probably just keep going until we run out of words.
                </p>
            </div>
            <div class="feature col">
                <div class="feature-icon bg-primary bg-gradient">
                    <span class="material-icons-outlined skiptranslate">speed</span>
                </div>
                <h2>Speed</h2>
                <p>
                    Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                    sentence and
                    probably just keep going until we run out of words.
                </p>
            </div>
            <div class="feature col">
                <div class="feature-icon bg-primary bg-gradient">
                    <span class="material-icons-outlined skiptranslate">groups</span>
                </div>
                <h2>Customer Oriented</h2>
                <p>
                    Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                    sentence and
                    probably just keep going until we run out of words.
                </p>
            </div>
        </div>
    </div>
</div>