<div class="row gx-5">
    <div class="col-md-5">
        <section>            
            <h2 class="display-5 mb-3 mt-0"><%= template.title %></h2>
            <p class="text-muted"><%= template.description %></p>
            <h5><%= currency.code %> <%= template.price %></h5>
        
            <form method="POST" action="/pick-template" class="mt-4">
                <input type="hidden" name="template" value="<%= template._id %>" />
                <button type="submit" class="btn btn-primary">Pick Template</button>
            </form>
        </section>
    </div>
    <div class="col-md-7">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <% template.images.forEach((_, i) => { %>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="<%= i %>" class="active" aria-current="true"></button>
                <% }) %>
            </div>
            <div class="carousel-inner">
                <% template.images.forEach((img, i) => { %>
                <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                    <img class="bd-placeholder-img" src="<%= img %>" alt="" />
                </div>
                <% }) %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="btn-group mt-4" role="group" aria-label="Basic outlined example">
            <% template.tags.forEach(tag => { %>
                <a href="/set-tag?tag=<%= tag %>" type="button" class="btn btn-outline-primary"><%= tag %></a>
            <% }) %>
        </div>
    </div>
</div>

<hr class="my-5">

<div class="row col-md-12">
    <h3 class="my-3">Simillar Templates</h3>
    <div class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                <% simillar.forEach(s => { %>
                        <li class="splide__slide">
                            <a href="/view-template/<%= s._id %>">
                                <img src="<%= s.images[0] %>" alt="">
                            </a>
                        </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>