<%
    const items = [
        { label: 'Order Id', value: order._id },
        { label: 'Order received', value: order.createdAt.toLocaleString() },
        { label: 'Template', value: order.inv.temp.title },
        { label: 'Domain', value: order.inv.dom },
        { label: 'Cost', value: `${order.currency.toUpperCase()} ${order.amount / 100}` },
        { label: 'Status', value: order.status },
        { label: 'Tag', value: order.inv.tag },
        { label: 'Completed', value: order.completed }
    ]
%>
<div class="accordion my-4" id="accordion">
    <h3>Order Details</h3>
    <% items.forEach((item, i) => { %>
        <div class="accordion-item">
            <h2 class="accordion-header" id="h-<%= i %>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#c-<%= i %>" aria-expanded="true" aria-controls="c-<%= i %>">
                    <%= item.label %>
                </button>
            </h2>
            <div id="c-<%= i %>" class="accordion-collapse collapse" aria-labelledby="h-<%= i %>" data-bs-parent="#accordion">
                <div class="accordion-body">
                    <p class="mb-0"><%= item.value %></p>
                </div>
            </div>
        </div>
    <% }) %>
</div>

<!-- <section class="grid">
    <div>
        <h3 class="mb-3">Messages</h3>
        <ul class="messages list-group">
            <% messages.forEach(message => { %>
                <li class="list-group-item">
                    <div class="message-meta">
                        <span class="date"><%= message.createdAt.toLocaleString() %></span>
                        <span class="nickname"><%= JSON.stringify(message.sentBy) === JSON.stringify(user._id) ? 'You' : message.nickname %></span>
                    </div>
                    <p class="mb-0 text-muted"><%= message.message %></p>
                </li>
            <% }) %>
        </ul>

        <footer class="mt-3">
            <input class="orderId" type="hidden" value="<%= order._id %>" />
            <input class="userId" type="hidden" value="<%= user._id %>" />
            <form class="d-flex">
                <input class="message form-control me-3" type="text" placeholder="Send a message"/>
                <button class="btn btn-primary" type="button" onclick="send(document.querySelector('.message'))">
                    <span class="material-icons-outlined">send</span>
                </button>
            </form>
        </footer>
    </div>
</section> -->



<% if(user.admin) { %>
<footer class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <div class="container d-flex align-items-center">
        <form method="POST" action="/admin/order/mark/completed">
            <input type="hidden" name="order" value="<%= order._id %>">
            <button class="btn btn-primary">Mark As Completed</button>
        </form>
        <p class="text-light mb-0">Administrator: <%= user.admin %></p>
    </div>
</footer>
<% } %>