<%
    const items = [
        { label: 'Order Id', value: order._id },
        { label: 'Order received', value: order.createdAt.toLocaleString() },
        { label: 'Template', value: order.inv.temp.title },
        { label: 'Domain', value: order.inv.dom },
        { label: 'Cost', value: `${order.currency.toUpperCase()} ${order.amount / 100}` },
        { label: 'Status', value: order.status },
        { label: 'Tag', value: order.inv.tag },
        { label: 'Completed', value: order.completed }
    ]
%>
<div class="accordion my-4" id="accordion">
    <h3>Order Details</h3>
    <% items.forEach((item, i) => { %>
        <div class="accordion-item">
            <h2 class="accordion-header" id="h-<%= i %>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#c-<%= i %>" aria-expanded="true" aria-controls="c-<%= i %>">
                    <%= item.label %>
                </button>
            </h2>
            <div id="c-<%= i %>" class="accordion-collapse collapse" aria-labelledby="h-<%= i %>" data-bs-parent="#accordion">
                <div class="accordion-body">
                    <p class="mb-0"><%= item.value %></p>
                </div>
            </div>
        </div>
    <% }) %>
</div>

<div class="col-md-12">
    <h3>Order Requirements</h3>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Logo File</span>
            <input type="file" name="" id="u_logo" />
            <button class="btn btn-primary" onclick="document.getElementById('u_logo').click()">Choose File</button>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Domain</span>
            <button class="btn btn-primary">Configure</button>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>brief description of their business</span>
            <button class="btn btn-primary">Fill Out</button>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>related content and images to appear on the site</span>
            <input type="file" name="" id="u_images" />
            <button class="btn btn-primary" onclick="document.getElementById('u_images').click()">Choose File</button>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Social media links</span>
            <button class="btn btn-primary">Fill Out</button>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Any specific add-on details they would want to have on their site</span>
            <button class="btn btn-primary">Add Details</button>
        </li>
    </ul>
</div>
<% if(user.admin) { %>
<footer class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <div class="container d-flex align-items-center">
        <form method="POST" action="/admin/order/mark/completed">
            <input type="hidden" name="order" value="<%= order._id %>">
            <button class="btn btn-primary">Mark As Completed</button>
        </form>
        <p class="text-light mb-0">Administrator: <%= user.admin %></p>
    </div>
</footer>
<% } %>