<input type="hidden" id="orderId" value="<%= order._id %>" />

<div class="col-md-12 mb-5">
    <header class="d-flex justify-content-between align-items-center">
        <h3 class="mb-3">Order Details</h3>
        <span title="Order Created Date" class="fw-bold"><%= order.createdAt.toLocaleString() %></span>
    </header>

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Order Id</span>
            <p class="mb-0"><%= order._id %></p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Total Cost</span>
            <p class="mb-0"><%= order.currency.toUpperCase() %> <%= order.amount / 100 %></p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Payment Status</span>
            <p class="mb-0"><%= order.status %></p>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Order Status</span>
            <p class="mb-0"><%= order.completed ? 'completed' : 'in progress' %></p>
        </li>
    </ul>
</div>

<div class="col-md-12 mb-5">
    <h3>Cart</h3>
    <ul class="list-group">
        <% order.cart.forEach(item => { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="text-decoration-none" href="<%= item.linkTo %>"><%= item.title %></a>
                <span>
                    <%= item.currency %>
                    <%= item.price %>
                </span>
            </li>
        <% }) %>
    </ul>
</div>

<div class="col-md-12 mb-5">
    <h3 class="mb-3">Order Requirements</h3>
    <div id="OrderComponent"></div>
</div>

<div class="col-md-12 mb-5">
    <h3 class="mb-3">Uploaded Files</h3>
    <div id="FilesComponent"></div>
</div>

<% if(user.admin) { %>
<footer class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <div class="container d-flex align-items-center">
        <form method="POST" action="/admin/order/mark/completed">
            <input type="hidden" name="order" value="<%= order._id %>">
            <button class="btn btn-primary">Mark As Completed</button>
        </form>
        <p class="text-light mb-0">Administrator: <%= user.admin %></p>
    </div>
</footer>
<% } %>
