<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/public/css/default-layout.min.css">
<link rel="stylesheet" href="/public/css/orders.min.css">
<body>
    <%- include('../partials/nav') %>
    <%- include('../partials/alerts') %>
    
    <main class="container">
        <section>
            <h1>My Orders</h1>

            <%- include('../partials/orders') %>
        </section>
    </main>

    <%- include('../partials/scripts') %>
</body>
</html>